<div class='col_fade'>
  <div class="inner">
        <p>
            <a href="/about" target="_blank" title="" ref="nofollow">关于BKB</a>
            <span>|</span>
            <a href="/contact" target="_blank" title="" ref="nofollow">联系我们</a>
            <span>|</span>
            <a href="/jobs" target="_blank" title="" ref="nofollow">诚聘英才</a>
            <!-- <span>|</span>
            <a href="#" target="_blank" title="" ref="nofollow">网站地图</a> -->
            <span>|</span>
            <a>ICP认证：浙ICP备8888-8888号</a>
            <span>|</span>
            <a href="/faq" target="_blank" title="" ref="nofollow">常见问题</a>
        </p>
    </div>
  <p>
    @Copyright 2015 BKB科技有限公司
  </p>   
</div>
