<%- partial('sidebar') %>


<div id="content">
  <div class="panel">

    <% if (current_user) { %>
      <div class="header">
        <% [['allorder', '全部订单']].forEach(function (pair) {
          var value = pair[0];
          var text = pair[1]; %>
          <a href="<%= value ? '/?tab=' + value : '/' %>"
            class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
        <% }) %>
      </div>

      <% if (typeof(orders) !== 'undefined' && orders.length > 0) { %>
      <div class="inner no-padding">
        <%- partial('order/list', {
        orders: orders,
        pages: pages,
        current_page: current_page,
        base: '/'
        }) %>
      </div>
      <% } else { %>
      <div class="inner">
        <p>无记录</p>
      </div>
      <% } %>

    <% } else { %>
      <div class='panel'>
        <div >
           <img src="<%- staticFile('/public/images/index.png') %>">
        </div>
      </div>

    <% } %>


  </div>
</div>



<div id="content">
  <div class="panel">

    <% if (current_user) { %>
      <div class="header">
        <% [['all', '全部主题']].concat(tabs).forEach(function (pair) {
          var value = pair[0];
          var text = pair[1]; %>
          <a href="<%= value ? '/?tab=' + value : '/' %>"
            class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
        <% }) %>
      </div>

      <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
      <div class="inner no-padding">
        <%- partial('topic/list', {
        topics: topics,
        pages: pages,
        current_page: current_page,
        base: '/'
        }) %>
      </div>
      <% } else { %>
      <div class="inner">
        <p>无记录</p>
      </div>
      <% } %>

    <% } else { %>
      <div class='panel'>
        <div >
           <!-- <img src="<%- staticFile('/public/images/index.png') %>"> -->
        </div>
      </div>

    <% } %>


  </div>
</div>

<div id="content">
  <div class="panel">

    <% if (current_user) { %>
      <div class="header">
        <% [['all', '全部用户'],['students','全部老师'],['students','全部学生']].forEach(function (pair) {
          var value = pair[0];
          var text = pair[1]; %>
          <a href="<%= value ? '/?tab=' + value : '/' %>"
            class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
        <% }) %>
      </div>

      <% if (typeof(users) !== 'undefined' && users.length > 0) { %>
      <div class="inner no-padding">
        <%- partial('user/list', {
        users: users,
        pages: pages,
        current_page: current_page,
        base: '/'
        }) %>
      </div>
      <% } else { %>
      <div class="inner">
        <p>无记录</p>
      </div>
      <% } %>

    <% } else { %>
      <div class='panel'>
        <div >
           <!-- <img src="<%- staticFile('/public/images/index.png') %>"> -->
        </div>
      </div>

    <% } %>


  </div>
</div>
