
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
<h3 style="margin-top: 0;">媒体报道</h3>
                    <p>官方微博：<a href="http://weibo.com/yangchediandian" target="_blank">http://weibo.com/bkb</a></p>
                    <p>BKB微信服务号：bkb</p>

                    <h3>商务合作</h3>
                    <p>商务邮箱：<a href="mailto:bd@xiaokakeji.com">bd#xiaokakeji.com</a>请把#替换成@</p>

                    <h3>客户服务</h3>
                    <p>客服电话：400-885-9797</p>
                    <p>客服邮箱：<a href="mailto:kefu@xiaokakeji.com">kefu#xiaokakeji.com</a>请把#替换成@</p>
                    <p>客服QQ：2008584</p>
                    <p>服务时间：9:00-18:00</p>

                    <h3>公司地址</h3>
                    <p>杭州总部：杭州BKB科技有限公司</p>
                    <p>地址：浙江省杭州市西湖区文一路522号西溪科创园3幢2单元</p>
                    <p><iframe width="800" height="497" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/BYWL0"></iframe></p>



      </div>
    </div>
  </div>
</div>
