

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <h3>Android开发工程师（6人）</h3>
                            <h4>职位描述：</h4>
                            <div class="module">
                               <p>
  1.负责android 应用程序的开发和维护工作；
</p>
<p>
  2.负责相关技术文档的编写工作；
</p>
<p>
  3.参与产品技术架构及发展方向等方面的研究；
</p>
<p>
  4.负责用户体验,能够快速掌握最新的技术,且对组员进行分享和培训；
</p>
<p>
  5.按时保质完成上级安排的开发任务或工作目标；
</p>
<p>
  6.上级交办的其它临时工作。
</p>                            </div>
                            <h4>岗位要求：</h4>
                            <div class="module">
                               <p>
  1.本科及以上学历，具备3年及以上开发经验，其中2年以上android开发经验；熟悉Android常用组件,和基本原理；
</p>
<p>
  2.熟悉App周期和运行机制；
</p>
<p>
  3.熟悉Http/s协议，且熟练使用；
</p>
<p>
  4.熟悉Tcp协议,可拓展自定义通讯协议；
</p>
<p>
  5.至少精通Android内一门领域；
</p>
<p>
  6.做过IM类、社交类上线，熟悉自定义组件，有技术博客，有开源贡献等优先考虑；
</p>
<p>
  7.工作严谨、认真负责，良好的沟通能力和团队合作精神，能够独立思考；
</p>                            </div>
                        </div><div class="item">
                            <h3>IOS开发工程师（5人）</h3>
                            <h4>职位描述：</h4>
                            <div class="module">
                               <p>
  1.负责iPhone 及 iPad应用研发、功能的持续改进，IOS平台软件维护与开发； 
</p>
<p>
  2.依据项目进度与需求完成相关应用系统的设计和开发，能按时、准确完成所需功能开发； 
</p>
<p>
  3.分析并解决软件问题，维护并改善程序质量； 
</p>
<p>
   4.与产品经理、测试人员等积极配合，完成项目进度； 
</p>
<p>
   5.负责APP客户端架构设置，承担新功能开发及优化，提高用户体验。
</p>                            </div>
                            <h4>岗位要求：</h4>
                            <div class="module">
                               <p>
  1.有1.2年以上Objective C和Cocoa编程经验；具备IOS客户端架构能力尤佳；&nbsp;
</p>
<p>
  2.熟悉iPhone/iPad的UI设计、内存管理机制及MacOS、iPhone下Objective C程序设计，了解iPhone SDK及开发工具；&nbsp;
</p>
<p>
  3.熟悉常用网络交互开发方法；&nbsp;
</p>
<p>
  4.熟悉面向对象编程，图形界面开发；&nbsp;
</p>
<p>
  5.了解商用iPhone/ipad开发及发布流程；&nbsp;
</p>
<p>
  6.有创业激情，具有良好的沟通能力、团队合作精神、能承担工作压力。
</p>                            </div>
                        </div>
      </div>
    </div>
  </div>
</div>
